node_modules
examples/
public/
yarn.lock
babel.config.js
vue.config.js
.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
